html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */

.header-main {
  display: flex;
  width: 1440px;
  padding-top: 104px;
  padding-left: 135px;
  padding-right: 240px; /*Проверить*/
  background-color: #F8F8F8;

}

.page-tittle {
  margin-bottom: 53px;
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
  color: black;
}

.page-tittle-large {
  margin-bottom: 43px;
  font-size: 250px;
  font-weight: 300;
  line-height: 230px;
  color: #272727;
}

.header-discription {
  margin-bottom: 61px;
  width: 575px;
  font-size: 32px;
  font-weight: 300;
  line-height: 50px;
  color: black;
}

.buy-wrapper {
  display: flex;
  margin-bottom: 168px;
}

.buy-link {
  display: block;
  width: 278px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  line-height: 82px;
  text-decoration: none;
}

.buy-price {
  display: block;
  width: 143px;
  background-color: #ffffff;
  color: black;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  line-height: 82px;
}

.head-img {
position: absolute;
width: 408px;
height: 720px;
left: 792px;
top: 4px;
}

/* main */

.page-subtittle {
  margin-top: 46px;
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
  text-align: center;
}

.page-subtottle-large {
  font-size: 72px;
  font-weight: 400;
  line-height: 81px;
  text-align: center;
}

.img-wrapper {
 margin-top: 84px;
  margin-left: 470px;
  margin-right: 470px;
  margin-bottom: 67px;
  width: 500px;
  height: 630px;
  background-color: #F8F8F8;
}

.watch-img-one {
  margin-top: 110px;
  margin-left: 107px;
  margin-right: 107px;
  margin-bottom: 110px;
  width: 286px;
  height: 410px;
}

.watch-img-two {
  margin-top: 65px;
  margin-bottom: 65px;
  width: 500px;
  height: 500px;
}

.model-name {
  margin-bottom: 17px;
  font-size: 32px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.model-description{
  margin-left: 454px;
  margin-right: 455px;
  font-size: 32px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
}

/* footer */

.description-tittle{
  margin-top: 59px;
  font-size: 32px;
  font-weight: 4000;
  line-height: 60px;
  text-align: center;
}

.product-description {
  margin-top: 36px;
  margin-left: 463px;
  margin-right: 462px;
  margin-bottom: 163px;
  font-size: 24px;
  font-weight: 300;
  line-height: 41px;
  text-align: center;
}

.description-link {
  text-decoration-line: underline;
  color: #BB8B5D;
  font-weight: 500;
}